@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}
html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}



.dark {
  --main-heading: #5f99be;
  --para-clr: #fff;
  --btn-bg-color: #00a8e8;
  --bg-clr: #111b20;
  --navbar-bg: #111111;
  --NVtext-color: #e9ecef;
  --button-text: #ffffff;
  --card-text-color: #e4e4e7;
  background-color: black;
  --card-background-color: #27272a;
  --Primary-Text: #f0f0f0;
  --secondary-text: #a0a0a0;
  --input-background: #1e1e1e;
  --input-border: #333333;
  --card2-bg: #030303d3;
  --Google-Button-BG: #2a2a2a;
  --Link-Color: #4da6ff;
  --card-boarder: #3f3f46;
  --card4: #121212e7;
  --cardBg6: #111827;
}
.light {
  --main-heading: #5f99be;
  --para-clr: #333;
  --btn-bg-color: #ff6b00;
  --bg-clr: #fff;
  --navbar-bg: #ffffff;
  --NVtext-color: #212529;
  --button-text: #ffffff;
  background-color: #f7f7f7;
  --card-background-color: #f4f4f5;
  --card-text-color: #1f2937;
  --Secondary-Placeholder: #888888;
  --Primary-Text: #1a1a1a;
  --secondary-text: #5e5e5e;
  --input-background: #ffffff;
  --input-border: #cccccc;
  --card2-bg: #f4f4f5;
  --Google-Button-BG: #ffffff;
  --Link-Color: #007bff;
  --card-boarder: #e4e4e7;
  --card4: #fcfcfce7;
  --cardBg6:#fcfcfce7;
}
.card-bg6 {
  background-color: var(--cardBg6);
}
.card-bg2 {
  background-color: var(--card2-bg);
}
.whBorder {
  border-color: var(--card2-bg);
}
.cardBoarder {
  border-color: var(--card-boarder);
}
.link {
  color: var(--Link-Color);
}
.google-button-bg {
  background-color: var(--Google-Button-BG);
}
.input-border {
  border-color: var(--input-border);
}
.primary-text {
  color: var(--Primary-Text);
}
.secondary-text {
  color: var(--secondary-text);
}
.input-background {
  background-color: var(--input-background);
}
.card4 {
  background-color: var(--card4);
}
.card-bg {
  background-color: var(--card-background-color);
}
.hover {
  color: var(--btn-bg-color);
}
.button:hover {
  color: var(--button-hover-text);
}

.btn-bg {
  background-color: var(--btn-bg-color);
}

.btn-HBg {
  background-color: var(--button-hover);
}
.button-text {
  color: var(--button-text);
}
.card-textC {
  color: var(--card-text-color);
}
.nav-button {
  color: var(--btn-bg-color);
}
.NVtext-color {
  color: var(--NVtext-color);
}
.navbar-bg {
  background-color: var(--navbar-bg);
}
.bg-color {
  background-color: var(--bg-clr);
}
.border3 {
  border-color: var(--para-clr);
}
/* google font */
.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.card-hover-bg {
  background-color: #1f2937; /* fallback (gray-800) */
  transition: all 0.3s ease;
}

.card-hover-bg:hover {
  background-image: url("https://i.ibb.co/mrWGWMtT/banner-1.webp"); /* Put your image URL here */
  background-size: cover;
  background-position: center;
}
.swiper-slide {
  opacity: 0.3;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

.swiper-slide-active {
  opacity: 1 !important;
  transform: scale(1.05);
  z-index: 10;
}
/* for active Route */
.active {
  color: #3d92e7;
}

/* for dark/light Mood */

body.dark {
  background-color: #121212;
  color: #000000;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

/* button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
} */
.heading-text {
  margin-top: 35px;
  margin-bottom: 30px;
  color: #3d92e7;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

/* google font */
.rancho-regular {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Some color theme */
@theme {
  --font-sans: "Mona Sans", sans-serif;
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}
.input-field {
  @apply bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md p-3 text-gray-900 dark:text-gray-100 transition-colors duration-300;
}

.select-field {
  @apply bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md p-3 text-gray-900 dark:text-gray-100 transition-colors duration-300;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

.section-padding {
  @apply px-5 md:px-10 md:mt-40 mt-20;
}

/* General Grids */

.card-border {
  @apply border border-black-50 bg-black-100;
}

.timeline-wrapper {
  @apply absolute top-0 xl:left-[35.5vw] md:left-10 left-5 h-full flex justify-center;
}

.timeline {
  @apply absolute z-30 h-[110%] -top-10 w-14 md:w-28 bg-black;
}
*/ .timeline-logo {
  @apply md:size-20 size-10 flex-none rounded-full flex justify-center items-center md:-translate-y-7 border border-black-50 bg-black-100;
}

.exp-card-wrapper {
  @apply flex flex-col-reverse xl:flex-row xl:gap-20 gap-10 justify-between;
}

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  12.5% {
    transform: translateY(-12.5%);
  }
  25% {
    transform: translateY(-25%);
  }
  37.5% {
    transform: translateY(-37.5%);
  }
  50% {
    transform: translateY(-50%);
  }
  62.5% {
    transform: translateY(-62.5%);
  }
  75% {
    transform: translateY(-75%);
  }
  87.5% {
    transform: translateY(-87.5%);
  }
}

/* Hero Text slider ends */

.gradient-line {
  width: 2px;
  background: linear-gradient(
    0deg,
    rgba(69, 222, 196, 0) 0%,
    #62e0ff 25%,
    #52aeff 37.51%,
    #fd5c79 62.83%,
    #6d45ce 92.91%
  );
}
.contactInput {
  padding: 20px;
  background-color: rgba(69, 222, 196, 0) 0%;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}
.gradient-edge:nth-of-type(1) {
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.gradient-edge:nth-of-type(2) {
  right: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.marquee-box {
  display: flex;
  align-items: center;
  width: 200%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - 15) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

.card:hover::before {
  opacity: 1;
}
